.category {
    margin: 58px 0;
    padding: 0 40px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 0 40px; */
    max-width: 1140px;
}

.title {
    font-size: 38px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 50px;
}

.game {
    text-decoration: none;
    width: 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 22px 16px;
}

.gameTitle {
    background-color: #F6D1A5;
    font-size: 20px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    color: #000;
    padding: 0 12px;
    width: 188px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}