.footer {
    border-top: 1px solid grey;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.top {
    display: flex;
}

.bottom {
    margin-left: auto;
    font-size: 18px;
    text-align: left;
}

.title {
    margin-right: 20px;
}

.list {
    text-align: left;
    font-size: 24px;
}

.list li {
    margin-bottom: 12px;
}