.search {
    max-width: 584px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 25px;
}

.btn {
    width: 188px;
    height: 54px;
    background-color: #13d716;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    font-size: 22px;
    border: none;
}

.input {
    width: 366px;
    height: 54px;
    margin-right: 22px;
    box-sizing: border-box;
}