.gamePage{

}

.game {
    display: flex;
    flex-wrap: wrap;
}

.title {
    font-size: 42px;
    margin: 0 0 18px 0;
}

.img {
    margin-right: 18px;
}

.nameBlock {
    text-align: left;
}

.locales {
    display: flex;
}

.locale {
    background-color: #D1D1D1;
    border-radius: 5px;
    width: 68px;
    height: 36px;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
}

.localeActive {
    background-color: #69E16E;
}

.description {
    flex-basis: 100%;
    margin-top: 30px;
    text-align: left;
    font-size: 18px;
    line-height: 24px;
}